<div class="container">
    <h2>Lista de Temas</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tema of temas">
          <td>{{ tema.id }}</td>
          <td>{{ tema.nombre }}</td>
          <td>{{ tema.descripcion }}</td>
          <td>
            <button (click)="eliminarTema(tema.id)" class="btn btn-danger">Eliminar</button>
            <button (click)="navegarAFormularioEditar(tema.id)" class="btn btn-primary">Editar</button>
          </td>
        </tr>
      </tbody>
    </table>
      <!-- Mensaje de error en rojo -->
    <div *ngIf="mensajeError" class="alert alert-danger">
      {{ mensajeError }}
    </div>
    
    <button (click)="navegarAFormularioAgregar()" class="btn btn-primary">Agregar Tema</button>

  </div>
  