<div class="container">
    <h2>Lista de Alumnos</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Fecha de nacimiento</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let alumno of alumnos">
          <td>{{ alumno.id }}</td>
          <td>{{ alumno.nombre }}</td>
          <td>{{ alumno.fechaNacimiento }}</td>
          <td>
            <button (click)="eliminarAlumno(alumno.id)" class="btn btn-danger">Eliminar</button>
          </td>
          <td>
            <button (click)="navegarAFormularioEditar(alumno.id)">Editar</button>
          </td>
        </tr>
      </tbody>
    </table>
    <button (click)="navegarAFormularioAgregar()">Agregar Alumno</button>

  </div>
  