 <!-- Encabezado principal -->
<header class="bg-primary text-white text-center py-5">
    <div class="container">
      <h1>Trabajo Practico Final</h1>
      <a class="nav-link" [routerLink]="['/cursos']" class="btn btn-light btn-lg mt-3"> Cursos </a>
      <a class="nav-link" [routerLink]="['/temas']" class="btn btn-dark btn-lg mt-3"> Temas </a>
      <a class="nav-link" [routerLink]="['/alumnos']" class="btn btn-dark btn-lg mt-3"> Alumnos </a>
      <a class="nav-link" [routerLink]="['/docentes']" class="btn btn-dark btn-lg mt-3"> Docentes </a>
    </div>
</header>


