<!-- Encabezado principal -->
<header class="custom-header text-center py-5">
  <div class="container">
    <h1 class="display-4">Trabajo Práctico Final</h1>
    <p class="lead">Gestión de Cursos, Temas, Alumnos y Docentes</p>
    <div class="btn-group mt-4">
      <a [routerLink]="['/cursos']" class="btn btn-outline-light btn-lg mx-2">Cursos</a>
      <a [routerLink]="['/temas']" class="btn btn-outline-light btn-lg mx-2">Temas</a>
      <a [routerLink]="['/alumnos']" class="btn btn-outline-light btn-lg mx-2">Alumnos</a>
      <a [routerLink]="['/docentes']" class="btn btn-outline-light btn-lg mx-2">Docentes</a>
    </div>
  </div>
</header>


